.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.not-found_text {
    padding: 12px 64px;
    font-size: 64px;
    color: #0B0B0B;
    background-color: #F02A39;
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%, 40% 10%); 
}

.error-msg-top, .error-msg-left {
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 8px;
    color: #651C2A;
}

.error-msg-left {
    top: 16px;
    left: -32px;
}