.cards-container {
  display: flex;
  gap: 12px;
}

.cards {
  min-width: 256px;
  height: fit-content;
  background-color: #404b5a;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.card-title {
  background-color: #28323f;
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
  padding: 8px;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.card-body_row {
  display: flex;
  justify-content: flex-start;
}