.form-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid peachpuff;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}