.search-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.search-bar {
  border-radius: 15px;
  border: solid 2px #72869e;
  width: 240px;
  height: 32px;
  padding: 4px 8px;
}

.search-button {
  height: 32px;
  width: fit-content;
  display: flex;
  align-items: center;
}