* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  height: fit-content;
  width: 100vw;
  background-color: #596676;
}

#root {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #28323f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 8px black;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links > a {
  text-decoration: none;
  color: white;
}

.home-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-top: 2rem;
}